<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kuis HCI</title>
    <link rel="stylesheet" href="../style/HomePage.css">
</head>

<body>
    <!-- ini buat header -->
    <div class="header">
        <div class="left">
            <a href="#">
                Bama Studio
            </a>
        </div>
        
        <div class="right">
            <a href="Register.html">
                Join Now
            </a>
        </div>
    </div>
    
    <!-- ini buat content -->
    <div class="content">

        <div class="upper">
            <div class="buathover">
            </div>
            <div class="aboutus">
                <h1>
                    What is Bama Studio?
                </h1>
                <p>
                    Bama Studio is backpack manufacture which is known as the best backpack maker in Indonesia.
                </p>
                <p>
                    Our Backpack ranging from Lite series to our new upcoming XV 51 Multicam, which all specifially designed by our designer and crafted with out utmost care to perfection.
                </p>
                    Browse our catalogue of backpack in our website or register to recieve special promo for our member
                <label class="catalogue">
                    Our catalogue
                </label>
            </div>
        </div>

        <div class="middle">
            <!-- tas 1 -->
            <div class="photoA foto"> 
                <img width="250px" src="../Assets/waistpack.jpg" alt="">
                <p>
                    Waistbag Collection
                </p>
                <label class="ShopNow">
                    Shop Now
                </label>
            </div>
            <!-- tas 2 -->
            <div class="photoB foto">
                <img width="250px" src="../Assets/backpack.jpg" alt="">
                <p>
                    Backpack Collection
                </p>
                <label class="ShopNow">
                    Shop Now
                </label>

            </div>
            <!-- tas 3 -->
            <div class="photoC foto">
                <img width="250px" src="../Assets/bumper.jpg" alt="">
                <p>
                    Bumper Collection 
                </p>
                <label class="ShopNow">
                    Shop Now
                </label>
            </div>

        </div>
            
        <div class="lower">
           
            <div class="comingsoon"> 
                <h1>
                VX 51 MULTICAM &#174;
                <br>
                DARK CAMO
                </h1>
                
                <H1 id="comingsoon">
                COMING SOON 
                </H1>
            </div>

        </div>
    </div>

    <!-- ini buat footer -->
    <div class="footer">
        <div class="contactuus">
            <a href="https://twitter.com/">
                <img src="../Assets/Twitter.png" alt="">
            </a>
            <a href="https://www.Instagram.com/">
                <img src="../Assets/Instagram.png" alt="">
            </a>
            <a href="https://www.Facebook.com">
                <img src="../Assets/Facebook.png" alt="">
            </a>
            
        </div>
        <span>
            Bama Studios&#174;
        </span>
    </div>
   

</body>
</html> 